header {
	position: relative;
	height: 9em;
	&.gradient {
		background: linear-gradient($lightgreen, $darkgreen);
	}
	.top {
		.logo {
			position: absolute;
			top: 0em; 
			left: 1em;
			padding-left: 10%;
			background: url(../images/logo4.svg);
			background-repeat: no-repeat;
			background-position: 10% 30%;
			background-size: auto 130%;
			text-decoration: none;
			line-height: 9em;
			width: 35%;
    	height: 9em;
		}
	}

	nav {

		display: flex;
		justify-content: right;
		padding: 0.75em;
		font-weight: bolder;
		z-index: 5;
		font-size: 0.8em;
		padding-top: 4.8em;

		.burger {
			display: none;
			margin-left: 0.1em;
		}
		a {
			color: #fff;
			text-transform: uppercase;
			text-decoration: none;
			padding: 0em 1em;
			border-radius: 0.8em;
			height: 1.6em;
			font-weight: bolder;

			&:hover {
				text-decoration: none;
			}
			&:active {
				color: $lightgreen;
			}
		}

		> ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
			list-style: none;
			margin: 0;
			padding: 0;
			width: 100%;




			> li {
				position: relative;
				flex: 0 1 auto;
				margin: 0;
				padding: 0em 1em 2em 0em;
				transition: all linear 0.1s;

				&.maxright {
					ul {
						right: -100%;
						left: auto;
					}
				}

				&:first-child a {
					background: #fff;
					color: $darkgreen;
				}

				&.dropdown:hover::after {
						content: '';
						position: absolute;
						top: 0;
						left: 50%;
						width: 0;
						height: 0;
						border: 10px solid transparent;
						border-bottom-color: $lightgreen;
						border-top: 0;
						margin-left: -0.75em;
						margin-top: 1.5em;
				}

				&.emp a {
					background: #fff;
					text-decoration: none;
					color: $darkgreen;
				}

				> ul {
				  font-size: 0.8em;
					display: none;
					position: absolute;
					xleft: -100%;
					z-index: 2;
					list-style: none;
					white-space: nowrap;
					background: $lightgreen;
					margin-top: 1.5em;
					padding-top: 0em;

					li {
						margin: 0;
						display: block;
						padding: 1em 1em;
					}
				}



				&:last-child {
					padding-right: 0em;
					ul {
						left: auto;
						right: -0.5em;
					}
				}

			}
			> li:hover {
				> a {
				  color: $lightgreen;
				  text-decoration: none;
				}
				> ul {
					display: block;
				}
			}
		}
	}
}

@media (max-width: 750px) {
	header nav > ul {
    margin: -2em 0em 0em 0em;
  }
}



@media (max-width: 500px) {
	header {
		height: 6em;
		.top {
			height: 6em;
			.logo {
				width: 90%;
				height: 6em;
				background-size: auto 130%;
				background-position: center 30%;				
			}
		}
		nav > ul > li:nth-child(2) ul {
			right: auto;
		}

		nav {
			font-size: 100%;
			padding: 0;
			height: auto;
			margin: 0;
			padding: 0.5em 0em;
			&:hover {
				background: $darkgreen;
				> ul {
					background: $darkgreen;
				}
			}

			.burger {
				display: block;
				padding: 0.3em 0.5em;
				margin-left: 0em;
				z-index: 20;
			}


			&:hover > ul, .burger:hover + ul {
				display: block;	
			}
			> ul {
				display: none;
				position: relative;
				left: -0.5em;
				z-index: 20;
				margin: 0;

				> li {
					width: 100%;
					flex: none;
					padding: 0.3em 0.5em;
					&.dropdown:hover::after {
						display: none
					}
					&.maxright {
						ul {
							right: auto;
							left: auto;
						}
					}

					> ul {
						position: relative;
						z-index: 0;
						width: 100%;
						margin: 0 0 0 1em;
						padding: 0.3em 0.3em;
						background: transparent;
						box-shadow: none;
						left: auto;
						top: auto;
						font-size: 1em;
						line-height: 1em;
						> li {
							padding: 0.2em 0em;
							&:last-child {
								padding-bottom: 0em;
							}
						}
					}
				}

				> li:hover > ul {
					display: block;
					li {
						display: block;
					}
				}
			}
		}
	}

}


